/* CSS files add styling rules to your content */

body {
  font-family: helvetica, arial, sans-serif;
  margin: 2em;
  padding: 50px;
  margin-bottom: 50px;
}

h1 {
  color: #373fff;
}

img {
  max-width: 150px;
  height: auto;
  box-shadow: 0 0 10px silver;
  border-radius: 150px;
}

nav {
  position: fixed;
  bottom: 0;
  box-shadow: 0 0 10px silver;
  right: 0;
  padding: 10px;
  display: flex;
  flex-direction: column;
  background-color: white;
}

nav> {
  margin: 10px;
}

@media(max-width: 600px) {
  nav {
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
  }
}